[submodule "Assets/2d-extras"]
	path = Assets/2d-extras
	url = https://github.com/Unity-Technologies/2d-extras.git
[submodule "Assets/UnityEnhanced"]
	path = Assets/UnityEnhanced
	url = https://github.com/geigi/UnityEnhanced.git
